@import "~src/assets/styles/color.scss";

// Border
.border {
    border: 1px dashed red;
}

.pointer {
    cursor: pointer;
}

// Position
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Text
.textNavNotChosen {
    font-family: $fontFamilyRegular;
    color: $lifebonderColorWhite1;
    font-size: 12px;
}

.textNavChosen {
    font-family: $fontFamilyBold;
    color: $lifebonderColorWhite1;
    font-size: 12px;
}

.textNavRegular {
    font-family: $fontFamilyRegular;
    color: $lifebonderColorBlue6;
    font-size: 10px;
}

.textFormHeader {
    font-family: $fontFamilyBold;
    color: $lifebonderColorWhite3;
    font-size: 11px;
}

.textFormReminder {
    font-family: $fontFamilyBold;
    color: $lifebonderColorBlue6;
    font-size: 10px;
}

.textWarning {
    font-family: $fontFamilyRegular;
    color: $lifebonderOrange;
    font-size: 10px;
}

// Button
.btnCancel {
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid $lifebonderColorWhite2;
    display: inline-block;
    cursor: pointer;

    color: $lifebonderColorWhite1;
    padding: 8px 20px;
    text-align: center;
    font-size: 16px;
    font-family: $fontFamilyRegular;
}

.btnSave {
    margin-left: 15px;
    margin-right: 15px;
    background-color: $lifebonderOrange;
    border-radius: 5px;
    border: 1px solid $lifebonderOrange;
    display: inline-block;
    cursor: pointer;

    color: $lifebonderColorWhite1;
    padding: 8px 30px;
    text-align: center;
    font-size: 16px;
    font-family: $fontFamilyRegular;
}

// icon image
.iconBack {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 30px;
    height: 15px;
    display: block;
    margin: auto;
}

.iconCross {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 30px;
    height: 15px;
    display: block;
    margin: auto;
}

.iconImage {
    width: 20px;
    margin-right: 20px;
}

// input text
.inputTextForm {
    margin-top: 10px;
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: $lifebonderColorGray1 1px solid;

    color: $lifebonderColorWhite2;
    font-family: $fontFamilyRegular;
    font-size: 10px;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $lifebonderColorWhite2;
        opacity: 0.13; /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $lifebonderColorWhite2;
        opacity: 0.13;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $lifebonderColorWhite2;
        opacity: 0.13;
    }
}

.hideScrollBar {
    // hide scroll bar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}
