<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Ingredients list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="create()">
        New Ingredient
      </button>
    </div>
  </div>
  <div class="card-body">

    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th>S. NO.</th>
          <th>ID</th>
          <th>IMAGE</th>
          <th>TITLE</th>
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let ingredient of ingredientService.items$ | async; let i = index">
            <td class="selection-cell">
              <label class="checkbox checkbox-single">
                {{i}} )
              </label>
            </td>
            <td>{{ ingredient.id }}</td>
            <td>
              <div class="
                  symbol symbol-60 symbol-xxl-100
                  mr-5
                  align-self-start align-self-xxl-center
                ">
                <div class="symbol-label" *ngIf="!ingredient.img"
                  [style.backgroundImage]="'url(./assets/media/users/blank.png)'"></div>
                <div class="symbol-label" *ngIf="ingredient.img"
                  [style.backgroundImage]="'url(' + ingredient.img + ')'"></div>
              </div>
            </td>
            <td>{{ ingredient.title }}</td>
            <td>
              <a title="Edit ingredient" class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"
                (click)="edit(ingredient.id)">
                <span [inlineSVG]="
                    './assets/media/svg/icons/Communication/Write.svg'
                  " cacheSVG="true" class="svg-icon svg-icon-md svg-icon-primary">
                </span>
              </a>

              <a title="Delete ingredient" class="btn btn-icon btn-light btn-hover-danger btn-sm"
                (click)="delete(ingredient.id)">
                <span [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'" cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger">
                </span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>