$loginBackgroundColor: #f2c98a;
$loginTextColor: #986923;
$loginBackgroundColor: #f2c98a;
$loginBackgroundColor: #f2c98a;

$fontFamilyBold: "Montserrat-Bold", sans-serif;
$fontFamilySemiBold: "Montserrat-SemiBold", sans-serif;
$fontFamilyMedium: "Montserrat-Medium", sans-serif;
$fontFamilyRegular: "Montserrat-Regular", sans-serif;
$fontFamilyExtraLight: "Montserrat-ExtraLight", sans-serif;
$fontFamilyMontserrat: "Montserrat", sans-serif;

//TODO organise correctly colors and create a new file for font family

$lifebonderOrangeColor: #ef562d;

$lifeBonderBackgroundColor: #135f84;
$lifebonderBackground: #f3f3f5;
$lifeBonderInboxingBackgroundColor: #094f6e;
$lifeBonderMessageListBackgroundColor: #0a5f84;
$lifeBonderBackgroundCancel: #138496;
$lifebonderBackgroundChatAreaColor: #e9f5f9;
$lifebonderBackgroundHostFriendMessage: #08425c;
$lifebonderChatProfilePictureBorder: #f18506;
$lifebonderBackgroundSettingMain: #22404e;
$lifebonderBackgroundSettingMenu: #f5fafd;
$lifebonderBackgroundSettingMainHeader: #1c485c;
$lifebonderBackgroundSettingCancelBtn: #0c668c;

$lifeBonderNotificationsAlertsColor: #ef562d;

//TODO change name
$lifebonderDIsableIconColor: #838383;

$lifebonderMenuButtonColor: #838383;
$lifebonderActivBackground: #7697ad;
$lifeBonderSeperatorMessage: #dadce0;

$lifebonder-light-dark: #444444;
$lifebonderBackgroundSettingMenuBtn: #0b5d80;
$lifebonderBackgroundSettingMenuBtnActive: #115472;

$lifebonderBackgroundSettingItemBorder: #707070;
$lifebonderBackgroundSettingItemFont: #e7e7e7;
$lifebonderBackgroundSettingItemFontTime: #618791;

$lifebonderBackgroundFont: #fcfcfc;

$lifeBonderBorderCancel: #117a8b;
$lifeBonderBorderColor: #5587a2;
$lifebonderPictureBorder: #5bb1d3;
$lifebonderTextMsgColor: #979797;

$lifeBonderErrorColor: #f47c7c;
$lifeBonderTextColor: #fafafa;
$lifeBonderSentenceColor: #797979;
$lifebonderNameColor: #3c3c3c;
$lifeBonderTitleColor: #066699;

$lifeBonderLightGrey: lightgrey;
$lifeBonderGreen: green;
$lifeBonderBlack: #212529;
$lifebonderOrange: #ff8800;
$lifeBonderWhite: #ffffff;
$lifeBonderBlack1: #0c242e;
$lifebonderRed: red;

$lifebonderBackgroundReadonly: rgba(238, 230, 230, 0.829);

// features/settings
$lifebonderColorBlue1: #0b5d80;
$lifebonderColorBlue2: #115472;
$lifebonderColorBlue3: #174e66;
$lifebonderColorBlue4: #1c485c;
$lifebonderColorBlue5: #22404e;
$lifebonderColorBlue6: #90c9d8;
$lifebonderColorBlue7: #618791;
$lifebonderColorBlue8: #cfe7eb;
$lifebonderColorBlue9: #223e4a;
$lifebonderColorBlue10: #24414e;
$lifebonderColorBlue11: #294655;
$lifebonderColorBlue12: #2e4d5c;
$lifebondeColorBlue13: #c0cfd9;
$lifebonderColorBlue14: #2f5d73;
$lifebonderColorBlue15: #095678;

$lifebonderColorGray1: #707070;

$lifebonderColorBlack1: #303030;
$lifebonderColorBlack2: #595959;
$lifebonderColorBlack3: #333333;
$lifebonderColorBlack4: #5b5b5b;

$lifebonderColorWhite1: #fcfcfc;
$lifebonderColorWhite2: #f7f7f7;
$lifebonderColorWhite3: #e7e7e7;
$lifebonderColorWhite4: #ffffff;
$lifebonderColorWhite5: #fafafa;
$lifebonderColorWhite6: #efefef;
$lifebonderColorWhite7: #f5f5f5;
$lifebonderColorWhite8: #fcfcfc;

$lifebonderColorGrey1: #e4e4e4;
$lifebonderColorGrey2: #d8d8d8;
$lifebonderColorGrey3: #ebebeb;
$lifebonderColorGrey4: #a1a1a1;

$lifebonderPurpleColor1: #8874ad;

$lifebonderGreenColor1: #5ac1a8;

$lifebonderOrangeColor1: #ff6600;
$lifebonderOrangeColor2: #f37930;
